.A{
    font-size:40px;
    font-weight:500px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.B{
    font-size:30px;
    font-weight:500px;
    font-family:"italics";
    text-align: center;
}

